<div id="board">
    <div class="titleAdd">
        <h1>Kanban</h1>
        <div>
            <input type="text">
            <button>+</button>
        </div>
    </div>
    <main id="boardArea">
        <section class="boardDiv">
            <h3>To do</h3>
            <div class="itemSpace"></div>
        </section>
        <section class="boardDiv">
            <h3>Doing</h3>
            <div class="itemSpace"></div>
        </section>
        <section class="boardDiv">
            <h3>Done</h3>
            <div class="itemSpace"></div>
        </section>
    </main>
</div>
